/* header.php */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #454546;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

.button-login {
    background-color: #3498db;
}

/* footer.php */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #454546;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact {
    margin-bottom: 5px;
    margin-left: 40px;
}

.footer-links {
    text-align: right;
}

.footer-links p {
    margin: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
}

/* login.php */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-paragraph {
    max-width: 900px;
    margin: 20px auto;
    padding: 15px; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-paragraph p {
    font-size: 16px;
    line-height: 1.6;
}

.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 12px;
    font-size: 18px;
}

input {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.button-login {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 18px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.button-login:hover {
    background-color: #2980b9;
}

/* Logout.php */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logout-container {
    max-width: 600px;
    margin: 250px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logout-container p {
    font-size: 18px;
    line-height: 1.6;
}
